/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/04/2019, 00:02:59
    Author     : marco
*/
.thumbnail-success {
    display: block;
    text-align: center;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #D6E9C6;
    border: 1px solid #00A65A;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.alert-title {
    color: #856404;
    background-color: #FFF3CD;
    border-color: #FFEEBA;
}

.alert-title-success {
    color: #155724;
    background-color: #D4EDDA;
    border-color: #C3E6CB;
}

.alert-title-info {
    color: #004085;
    background-color: #CCE5FF;
    border-color: #B8DAFF;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    box-shadow: none !important;
}

.btn-outlined.btn-primary {
    background: none;
    border: 2px solid #b11f24;
    color: #b11f24;
}

.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #FFF;
    background: #b11f24;
    border-color: #b11f24;
}

.btn-outlined.btn-success {
    background: none;
    border: 2px solid #5cb85c;
    color: #5cb85c;
}

.btn-outlined.btn-success:hover,
.btn-outlined.btn-success:active {
    color: #FFF;
    background: #47a447;
}

.btn-outlined.btn-info {
    background: none;
    border: 2px solid #5bc0de;
    color: #5bc0de;
}

.btn-outlined.btn-info:hover,
.btn-outlined.btn-info:active {
    color: #FFF;
    background: #39b3d7;
}

.btn-outlined.btn-warning {
    background: none;
    border: 2px solid #f0ad4e;
    color: #f0ad4e;
}

.btn-outlined.btn-warning:hover,
.btn-outlined.btn-warning:active {
    color: #FFF;
    background: #ed9c28;
}

.btn-outlined.btn-danger {
    background: none;
    border: 2px solid #d9534f;
    color: #d9534f;
}

.btn-outlined.btn-danger:hover,
.btn-outlined.btn-danger:active {
    color: #FFF;
    background: #d2322d;
}

.btn-outlined.btn-white {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

.btn-outlined.btn-white:hover,
.btn-outlined.btn-white:active {
    color: #b11f24;
    background: #fff;
}

.center {
    text-align: center;
}

.nav li a {
    font-size: 1em;
    color: #666666;
}
.nav li a:hover {
    font-size: 1em;
    color: #333333;
}
.nav li.active a:selected{
    font-size: 1.1em;
    color: #333333;
}
.nav li.active a:active{
    font-size: 1.1em;
    color: #333333;
}
.nav li.active a{
    font-size: 1.1em;
    color: #B11F24;
}

.status_pago{
    margin-top: 5px;
    color: #155724; 
    padding: 6px; 
    border-radius: 0px; 
    background-color: #D4EDDA;
}
.status_verificar{
    margin-top: 5px;
    color: #850404; 
    padding: 6px; 
    border-radius: 0px; 
    background-color: #e07676;
}
.status_apagar{
    margin-top: 5px;
    color: #856404; 
    padding: 6px; 
    border-radius: 0px; 
    background-color: #FFF3CD;
}

.panel-dark {
  border-color: #1A2226;
}
.panel-dark > .panel-heading {
  color: #B8C7CE;
  background-color: #222D32;
  border-color: #1A2226;
}
.panel-dark > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #1A2226;
}
.panel-dark > .panel-heading .badge {
  color: #222D32;
  background-color: #B8C7CE;
}
.panel-dark > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #1A2226;
}
.panel-dark .collapsed{
  color: #B8C7CE;
}
.panel-dark .collapsed:hover {
  color: #f5f5f5;
}
.panel-dark .collapsed:selected {
  color: #f5f5f5;
}
.panel-dark .collapsed:active{
  color: #f5f5f5;
}
.panel-dark .collapsed:expanded{
  color: #f5f5f5;
}